//
$color_linia_gris_fosca: #f2f2f2;

// Genèrics
$color_taronja: #da552f;
$color_taronja_fosc: #c73006;


// Colors text
$color_titol_1: #170000;
$color_titol_2: #231913;
$color_text_1: #a7a8af;

// Colors fons
$color_fons_gris: #eeeef0;
$color_fons_blanc: white;
//
