/*@import './LG.scss';*/
/* Extra Large >= 1200px */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Large >= 992px */
@media (min-width: 992px) {
  body {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 0.5fr;
    grid-template-rows: 0.3fr 0.2fr 0.3fr 0.7fr 2.1fr;
    gap: 1em 1em;
    grid-template-areas: "nav nav nav nav nav" "s_left article1 article1 article1 s_right" "s_left article2 article2 kittybot s_right" "s_left article2 article2 lifechat s_right" "s_left article3 article3 lifechat s_right";
    background-color: #f9f9f9;
  }
  body #banda_esquerra {
    grid-area: s_left;
    height: 100vh;
  }
  body nav {
    display: flex;
    flex-flow: column;
    justify-self: center;
    height: auto;
    width: 100vw;
    position: fixed;
    border: 1px solid #f2f2f2;
    background-color: white;
  }
  body nav #articulo_0 {
    display: flex;
    flex-flow: column;
    justify-self: center;
  }
  body nav #articulo_0 section {
    display: flex;
    width: 78vw;
    align-self: center;
    justify-content: space-between;
    flex-flow: row;
    list-style-type: none;
  }
  body nav #articulo_0 section:first-of-type {
    display: flex;
    align-items: center;
  }
  body nav #articulo_0 section:first-of-type img {
    width: 3em;
    height: 3em;
  }
  body nav #articulo_0 section:first-of-type input {
    display: flex;
    align-self: center;
    width: 50em;
    height: 2em;
  }
  body nav #articulo_0 section:first-of-type button {
    display: flex;
    align-items: center;
    align-self: center;
    height: 2em;
    margin-right: 0.5em;
  }
  body nav #articulo_0 section:last-of-type {
    display: flex;
    align-items: center;
    border-top: 1px solid #f2f2f2;
    height: 3em;
  }
  body nav #articulo_0 section:last-of-type p {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0em 0.5em;
    color: #a7a8af;
  }
  body nav #articulo_0 section:last-of-type p:hover {
    background-color: #eeeef0;
  }
  body nav #articulo_0 section:last-of-type p:first-of-type {
    color: #231913;
    background-color: #eeeef0;
  }
  body nav #articulo_0 section:last-of-type img:first-of-type {
    width: 0.9em;
  }
  body nav #articulo_0 section:last-of-type img:last-of-type {
    width: 0.9em;
  }
  body nav #articulo_0 section:last-of-type img:hover {
    cursor: pointer;
  }
  body #articulo_1 {
    grid-area: article1;
    border: 1px solid #f2f2f2;
    background-color: white;
  }
  body #articulo_1 section {
    display: flex;
    height: 100%;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  body #articulo_1 section img:first-of-type {
    display: flex;
    margin-left: 3em;
    align-self: center;
    align-items: center;
    width: 2em;
  }
  body #articulo_1 section h1 {
    display: flex;
    font-size: 14px;
    font-weight: 600;
  }
  body #articulo_1 section p {
    display: flex;
    font-size: 14px;
  }
  body #articulo_1 section input {
    display: flex;
    width: 13em;
    height: 2.5em;
  }
  body #articulo_1 section button {
    display: flex;
    align-items: center;
    align-self: center;
    height: 2.5em;
    background-color: #da552f;
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 0.3em;
    padding: 0em 1em;
  }
  body #articulo_1 section button:hover {
    background-color: #c73006;
  }
  body #articulo_1 section img:last-of-type {
    display: flex;
    margin-left: 3em;
    width: 0.9em;
  }
  body #articulo_1 section img:last-of-type:hover {
    cursor: pointer;
  }
  body #kittybot {
    grid-area: kittybot;
    background-color: white;
    border: 1px solid #f2f2f2;
  }
  body #kittybot section {
    display: grid;
    margin: 1.5em 1em 2em 2em;
    grid-template-columns: 1.8fr 0.2fr;
    grid-template-rows: 0.7fr 0.9fr 0.9fr;
    gap: 1em 1em;
    grid-template-areas: "h1 img" "p p" "button button";
  }
  body #kittybot section h1 {
    grid-area: h1;
    font-weight: 500;
    color: #231913;
  }
  body #kittybot section img {
    width: 0.9em;
    grid-area: img;
  }
  body #kittybot section img:hover {
    cursor: pointer;
  }
  body #kittybot section p {
    grid-area: p;
    color: #a7a8af;
  }
  body #kittybot section button {
    grid-area: button;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 2.5em;
    background-color: #da552f;
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 0.3em;
    padding: 0em 1em;
  }
  body #kittybot section button:hover {
    background-color: #c73006;
  }
  body #articulo_2 {
    grid-area: article2;
    background-color: white;
    border: 1px solid #f2f2f2;
  }
  body #articulo_3 {
    grid-area: article3;
    background-color: white;
  }
  body aside {
    grid-area: lifechat;
    background-color: white;
    border: 1px solid #f2f2f2;
  }
  body aside ul li {
    display: flex;
    justify-content: center;
    margin: 1em 0em;
  }
  body aside ul li:first-of-type {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1em;
  }
  body aside ul li:last-of-type {
    display: flex;
    border-top: 1px solid #f2f2f2;
    padding-top: 1em;
  }
  body aside ul li:last-of-type p {
    color: #da552f;
  }
  body aside ul .aside_usuarios {
    display: grid;
    grid-template-columns: 6.5em 10.5em;
    grid-template-rows: 2.5em 4em 2em;
    gap: 0em 0em;
    grid-template-areas: "img h1" "img p" "img button";
    margin: 2em 1em 2em 1em;
  }
  body aside ul .aside_usuarios h1 {
    grid-area: h1;
    font-weight: 600;
  }
  body aside ul .aside_usuarios p {
    grid-area: p;
    color: #a7a8af;
  }
  body aside ul .aside_usuarios button {
    grid-area: button;
    width: 10em;
    font-size: 15px;
  }
  body aside ul .aside_usuarios img {
    grid-area: img;
    width: 4.5em;
    border-radius: 50%;
  }
  body #banda_dreta {
    grid-area: s_right;
    height: 100vh;
  }
}
/* Large >= 992px      @media (min-width: 992px) */
/* Medium >= 768px */
/* Medium >= 768px     @media (min-width: 768px) and (max-width: 991px) */
/* Small >= 576px */
@media (min-width: 576px) and (max-width: 767px) {
  html {
    min-width: 800px;
    background-color: #fffec4;
  }
  html body {
    padding: 0%;
    margin: auto;
    background: #f9f9f9;
    width: 80%;
    height: auto;
  }
  html body a {
    text-decoration: none;
    color: #7e6b6b;
  }
  html body p {
    margin: 0;
  }
  html body p .likes,
html body p .comments {
    font-size: 12px;
    background-repeat: no-repeat;
    border: solid 1px lightgray;
    border-radius: 2px;
    background-color: #ebebeb;
    padding-right: 5px;
    padding-left: 20px;
  }
  html body p .likes {
    background-image: url("./images/votes.png");
    background-position-y: -2px;
  }
  html body p .comments {
    background-position-x: 5px;
    background-position-y: 2px;
    color: gray;
    background-image: url("./images/comments.png");
  }
  html body p .tag {
    font-size: 10px;
    background-repeat: no-repeat;
    border: none;
    background-color: lightgray;
    border-radius: 4px;
    padding: 3px;
  }
  html body p .moreTags {
    margin-left: 0px;
    line-height: 15px;
    font-size: 11px;
    color: gray;
  }
  html body p .tech1 {
    color: gray;
    font-size: 11px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: -1px;
    padding-left: 18px;
  }
  html body p .remindButton {
    font-size: 11px;
    text-align: center;
    border: none;
    background-color: lightgray;
    border-radius: 4px;
    width: 70%;
    padding: 0px;
  }
  html body nav {
    position: fixed;
    top: 0;
    background: white;
    width: 80%;
    height: auto;
  }
  html body nav > div {
    color: #7e6b6b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;
  }
  html body nav > div > img {
    height: 120%;
    width: auto;
  }
  html body nav > div > input {
    border: solid 1px #ebebeb;
    border-radius: 4px;
    background-image: url("./images/search.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    width: 80%;
    height: 60%;
  }
  html body nav > div:last-of-type {
    padding-right: 0%;
    border-top: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    width: 100%;
  }
  html body nav > div:last-of-type > ul {
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: hidden;
  }
  html body nav > div:last-of-type > ul > li {
    line-height: 40px;
    font-size: 17px;
    display: inline;
    padding: 10px;
  }
  html body nav > div:last-of-type > ul > li:first-of-type {
    font-weight: bold;
    background-color: #ebebeb;
    height: 100%;
  }
  html body nav > div:last-of-type > div {
    display: flex;
  }
  html body nav > div:last-of-type > div > img {
    height: 16px;
  }
  html body header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
    background: white;
    width: 100%;
    height: 100%;
    border: solid 1px #ebebeb;
    border-radius: 4px;
  }
  html body header > div > div > * {
    margin-left: 5px;
    margin-right: 5px;
  }
  html body header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  html body header > div > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
  }
  html body header > div > div:last-of-type {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body header p {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
  }
  html body header p:last-of-type {
    color: #7e6b6b;
  }
  html body header input {
    height: 26px;
    border: solid 1px #ebebeb;
    width: 60%;
  }
  html body header button {
    border-radius: 4px;
    color: white;
    font-size: 12px;
    background-color: #ca5609;
    height: 30px;
    width: 30%;
    border: solid 1px #ebebeb;
  }
  html body img .welcomeImg {
    width: auto;
    height: 80%;
  }
  html body img .crossIcon {
    margin-right: 5px;
    margin-left: 30px;
    height: 13px;
    width: auto;
  }
  html body main {
    float: left;
    width: 70%;
    height: auto;
  }
  html body section #popular {
    width: 97%;
    height: auto;
    padding-left: 3%;
    padding-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    border-radius: 4px;
  }
  html body section #today {
    width: 97%;
    height: auto;
    padding-left: 3%;
    padding-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    border-radius: 4px;
  }
  html body section #today > div.sectionHeader > div {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  html body section #today > div.sectionHeader > div > p:last-of-type {
    margin-left: 10px;
    color: grey;
  }
  html body div .sectionHeader {
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ebebeb;
    width: 96%;
    height: 25px;
  }
  html body div .sectionHeader > div {
    height: 100%;
    width: 200px;
  }
  html body div .sectionPost {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 5px;
    border-bottom: solid 1px #ebebeb;
  }
  html body div .sectionPost > img {
    background: midnightblue;
    width: 80px;
    height: 80px;
  }
  html body div .sectionPost > div:first-of-type {
    padding-left: 10px;
    width: 70%;
    height: 80px;
  }
  html body div .sectionPost > div:first-of-type > p:first-of-type {
    width: 90%;
    height: 30px;
    font-size: 20px;
  }
  html body div .sectionPost > div:first-of-type > p:last-of-type {
    color: gray;
    width: 90%;
    height: 20px;
    font-size: 13px;
  }
  html body div .sectionPost > div:first-of-type > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 30px;
  }
  html body div .sectionPost > div:first-of-type > div > * {
    margin-right: 10px;
  }
  html body div .sectionPost > div:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100px;
    height: 80px;
    margin-right: 10px;
  }
  html body div #asideTop {
    background: white;
    width: 95%;
    height: 120px;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    border-radius: 4px;
    padding-left: 5%;
  }
  html body div #asideTop > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    width: 100%;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  html body div #asideTop > p {
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
  }
  html body div #showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  html body div #showMore > p {
    font-size: 11px;
    width: fit-content;
    color: gray;
    background-image: url("./images/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 5px;
    background-position-y: 2px;
    padding-left: 20px;
  }
  html body div #asideChat {
    border: solid 1px #ebebeb;
    background-color: white;
    border-radius: 4px;
    padding-left: 5%;
    width: 95%;
    height: 100%;
    margin-bottom: 10px;
  }
  html body div #asideChat > div#asideChatHeader {
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    line-height: 40px;
    border-bottom: solid 1px #ebebeb;
  }
  html body div .asidePost {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  html body div .asidePost > img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
  }
  html body div .asidePost > div {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    height: auto;
  }
  html body div .asidePost > div > p:first-of-type {
    font-weight: bold;
    font-size: 13px;
  }
  html body div .asidePost > div > p:nth-of-type(2) {
    color: grey;
    font-size: 13px;
  }
  html body div #asideFooter > p {
    font-size: 13px;
    text-align: center;
    justify-content: center;
    color: red;
    border-top: solid 1px #ebebeb;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  html body aside {
    width: 25%;
    height: 100%;
    float: right;
  }
  html body button#asideKittyButton {
    border: solid 1px #ebebeb;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    height: 30px;
    width: 95%;
    padding-left: 15px;
    background-color: #ca5609;
    background-image: url("./images/hashIcon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 10%;
    background-position-y: 4px;
  }
}
/* Small >= 576px      @media (min-width: 576px) and (max-width: 767px) */
/* Extra small < 576px */
/* Extra small < 576px @media (max-width: 575px) */

/*# sourceMappingURL=style.css.map */
